*{
    box-sizing: border-box;
}

body{
    display: inline-block;
    width: 1150px;
    margin: 0 auto;
}

.nav{
    width: 100%;
    display: inline-block;
    text-align: right;
    background: #6b6565;
    padding: 10px;
}

.logo{
    
    display: inline-block;
    justify-content: left;
    padding: 10px;
    margin-right: 290px;
}

.text__link{
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    padding: 10px;
    
    background: #353030;
}



.articles{
    position: flex;
}

.article{
    position: flex;
    width: 25%;
    padding: 5px;
    margin: 30px;
    display: inline-block;
}

.box{
    float: left;
    width: 80px;
    height: 80px;
    background-color: #353030;
    border: 5px solid #ece3e3;
}

.res{
    font-size: 10px;
    color: white;
}

.read__more{
    text-decoration: none;
    color: orange;
    display: block;
    text-align: right;
}

.article p{
    padding: 15px;
    
}

.footer{
    color: white;
    padding: 25px;
    background: #6b6565;
}

