body{
    color: #fff;
}

#content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    max-width: 1150px;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

#content >*{
    background: gray;
    padding: 20px;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}



footer{
    grid-area: footer;
}

.logo{
    display: inline-block;
    text-align: left;
}

header ul{
    display: inline-block;
    text-align: right;
}

header li{
    display: inline-block;
    text-decoration: none;
    background: black;
    padding: 5px;
    text-align: right;
}

header li a{
    color: white;
    text-transform: uppercase;
}

main{
    display: inline-block;
    background-color: white;

}

.article{
    position: flex;
    width: 25%;
    padding: 5px;
    margin: 30px;
    display: inline-block;
}

.box{
    float: left;
    width: 80px;
    height: 80px;
    background-color: #353030;
    border: 5px solid #ece3e3;
}

.res{
    font-size: 10px;
    color: white;
}

.read__more{
    text-decoration: none;
    color: orange;
    display: block;
    text-align: right;
}

.logo{
    
    display: inline-block;
    justify-content: left;
    margin-right: 290px;